<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"   href="../css/add-country.css">
    <title>Document</title>
</head>
<body>
  <nav class="site-nav">
  <div class="nav-inner">
    <div class="brand">
      <a href="/" class="logo">🌍 TravelBucketList</a>
    </div>

    <% if (user) { %>
      <div class="links">
        <a href="/country/new">Add Country</a>
        <a href="/trip/new">Add Trip</a>
        <a href="/trip">All Trips</a>
        <a href="/country">All Countries</a>
      </div>
    <% } %>

    <div class="account">
      <% if (user) { %>
        <span class="username">Hi, <%= user.username %></span>
        <a href="/auth/logout" class="btn-logout">Logout</a>
      <% } else { %>
        <a href="/auth/login" class="btn">Login</a>
        <a href="/auth/sign-up" class="btn">Sign Up</a>
      <% } %>
    </div>
  </div>
</nav>
</body>
</html>
