<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add your travel bucket list:</h1>
    <form action="">

        <label for="name">Country</label>
        <input type="text" name="name" id="name">

        <label for="description">Description</label>
        <textarea name="description" id="description"></textarea>

        <label for="travelDate">Travel Date</label>
        <input type="date" name="travelDate" id="travelDate">

    </form>
</body>
</html>